# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
.eggs/

# Environments
.env
.env.*
.venv/
venv/
env/

# Django/DB/Media
*.sqlite3
backend/db.sqlite3
backend/media/

# Node/React
node_modules/
frontend/node_modules/
frontend/build/
frontend/.cache/
frontend/.parcel-cache/

# Logs
*.log
logs/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage/Dist
.coverage
coverage/
dist/

# Misc
*.pack 